/* || Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || Variables */

:root {
    --backgroundColor1: #009688;
    --backgroundColor2: #dadbd4;
}

/* || General styles */

body {
    background: linear-gradient(to bottom, var(--backgroundColor1) 20%, var(--backgroundColor2) 15%);
    height: 100vh;
}

/* || Debug */
.debug .container {
    background-color: rebeccapurple;
}

.debug .left-side {
    background-color: lightblue;
}

.debug .right-side {
    background-color: lightcoral;
}

.debug .header {
    background-color: lightpink;
}

/* || Main container */
.container {
    position: absolute;
    width: 70%;
    max-width: 68.75rem;
    height: 70%;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translateX(-50%) translateY(-50%);
}

.left-side {
    width: 45%;
}

.right-side {
    flex-grow: 1;
}

.right-side .header {
    border-left: .0625rem solid lightgray;
}

.header {
    height: 3.75rem;
    justify-content: space-between;
    background-color: lightgray;
}

.header i {
    color: gray;
    padding: .4rem;
}

.header i:last-child {
    margin-right: .3125rem;
}

.last-access {
    font-size: .625rem;
    color: gray;
}

/* || Utils */

.d-flex {
    display: flex;
}

.circle-img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.v-align.center {
    vertical-align: center;
}

.align-center {
    align-items: center;
}

.header div img.circle-img {
    margin: 0 .4375rem 0 .4375rem;
}

@media screen and (min-width: 800px) {
    .left-side {
        width: 35%;
    }
}