/* || Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || Variables */

:root {
    --backgroundColor1: #009688;
    --backgroundColor2: #dadbd4;
}

/* || General styles */

body {
    background: linear-gradient(to bottom, var(--backgroundColor1) 20%, var(--backgroundColor2) 15%);
    height: 100vh;
}

/* || Debug */
.debug .container {
    background-color: rebeccapurple;
}

.debug .left-side {
    background-color: lightblue;
}

.debug .right-side {
    background-color: lightcoral;
}

.debug .header {
    background-color: lightpink;
}

/* || Main container */
.container {
    position: absolute;
    width: 70%;
    max-width: 68.75rem;
    height: 70%;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translateX(-50%) translateY(-50%);
}

.left-side {
    width: 40%;
}

.right-side {
    flex-grow: 1;
}

.right-side .header {
    border-left: .0625rem solid lightgray;
}

.header {
    height: 3.75rem;
}

/* || Utils */

.d-flex {
    display: flex;
}

@media screen and (min-width: 800px) {
    .left-side {
        width: 30%;
    }
}