/* ----------- Reset ----------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- /Reset ----------------- */

:root {
    --backgroundColor1: #009688;
    --backgroundColor2: #dadbd4;
}

body {
    background: linear-gradient(to bottom, var(--backgroundColor1) 20%, var(--backgroundColor2) 15%);
    height: 100vh;
}